@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-google: "Google Sans", sans-serif;
}

body {
  font-family: "Google Sans", sans-serif;
}
@theme {
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1200px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}